/*
 * I, Abdulaziz Haybe, 000916530, certify that this material is my original work.
 * No other person's work has been used without due acknowledgment.
 */

 body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
}

.container {
  margin-top: 20px;
}

h1 {
  color: #333;
}

.deck {
  display: inline-block;
  padding: 20px;
  background-color: #333;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.hand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

.picked {
  border: 3px solid red;
}

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}
